<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
<div id="app">
    <header>
        <div class="mainNav">
            <div class="leftNav">
                <a href="#" class="mainNav_item">Home page</a>
                <a href="#" class="mainNav_item">Catalog</a>
            </div>
            <div class="rightNav">
                <search></search>

                <!-- <form action="#" class="search-form" @submit.prevent="filterGoods">
                    <input type="text" class="search-field" v-model="searchLine">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form> -->
                <button class="btnCart" type="button" @click="isVisibleCart = !isVisibleCart">
                    <!-- <span class="goodsNum">${quantity}</span> -->
                    <goods-num v-for="item of cartItems" :cart-item="item"></goods-num>
                    <img class="cartIcon" src="images/cart.svg" alt="cart-icon">Корзина
                </button>

                <cart :cart-items="cartItems" :visibility="isVisibleCart"></cart>

                <!-- <div class="cartBlock" v-show="isVisibleCart">
                    <p v-if="!cartItems.length">Нет данных</p>
                    <div class="cart-item" v-for="item of cartItems" :key="item.id_product">
                        <div class="product-bio">
                            <div class="product-desc">
                                <div class="product-title">{{ item.product_name }}</div>
                                <div class="product-quantity">Quantity: {{ item.quantity }}</div>
                                <div class="product-single-price">$ {{ item.price }} each</div>
                            </div>
                        </div>
                        <div class="right-block">
                            <div class="product-price">{{item.quantity*item.price}}</div>
                            <button class="del-btn" @click="removeProduct(item)">&times;</button>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </header>
    <main>
        <data-error v-if='dataError'></data-error>

        <products :products="filtered" :img="imgProduct"></products>

    
        <!-- <div class="products">
            <div class="product-item" v-for="product of filtered"
            :key="product.id_product">
                <img :src="imgProduct" alt="Product">
                <div class="desc">
                    <h3>{{product.product_name}}</h3>
                    <p>${{product.price}}</p>
                    <button class="buyBtn" @click="addProduct(product)">Купить</button>
                </div>    
            </div>
        </div> -->
    </main>
</div>
    
<script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script src="js/prod-comp.js"></script>
<script src="js/cart-comp.js"></script>
<script src="js/search-comp.js"></script>
<script src="js/error-comp.js"></script>
<script src="js/main.js"></script>
       
</body>
</html>